@keyframes x5-n-slide-right {
  0% {
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
    right: -320px;
  }
  100% {
    margin: 10px;
    max-height: 100%;
    opacity: 1;
    padding: 15px;
    right: 310px;
  }
}
@keyframes x5-n-slide-left {
  0% {
    left: -300px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
  100% {
    left: 0;
    margin: 10px;
    max-height: 100%;
    opacity: 1;
    padding: 15px;
  }
}
@keyframes x5-n-slide-center {
  0% {
    font-size: 0;
    margin: 0;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
  100% {
    font-size: 20px;
    margin: 10px;
    max-height: 100%;
    opacity: 1;
    padding: 15px;
  }
}

.x5-n-slide-right-enter-active {
  animation: x5-n-slide-right 0.5s cubic-bezier(0.2, 0.9, 0.3, 1.3);
}
.x5-n-slide-right-leave-active {
  animation: x5-n-slide-right 0.3s linear reverse;
}

.x5-n-slide-left-enter-active {
  animation: x5-n-slide-left 0.5s cubic-bezier(0.2, 0.9, 0.3, 1.3);
}
.x5-n-slide-left-leave-active {
  animation: x5-n-slide-left 0.3s linear reverse;
}

.x5-n-slide-center-enter-active {
  animation: x5-n-slide-center 0.5s ease-in-out;
}
.x5-n-slide-center-leave-active {
  animation: x5-n-slide-center 0.3s linear reverse;
}
