$colors_default: rgba(155, 155, 155, 0.85);
$colors_special: rgba(136, 64, 231, 0.85);
$colors_error: rgba(207, 49, 49, 0.85);
$colors_info: rgba(49, 168, 236, 0.85);
$colors_success: rgba(65, 187, 93, 0.85);
$colors_warning: rgba(248, 149, 20, 0.85);
