.x5-n-notices {
  position: fixed;
  width: 0;
  overflow: visible;
  &.x5-n-top-left,
  &.x5-n-top-right {
    top: 0;
  }
  &.x5-n-bottom-left,
  &.x5-n-bottom-right {
    bottom: 10px;
  }
  &.x5-n-top-left,
  &.x5-n-bottom-left {
    left: 10px;
    .x5-n-notice {
      left: 0;
    }
  }
  &.x5-n-top-right,
  &.x5-n-bottom-right {
    right: 10px;
    .x5-n-notice {
      right: 290px;
    }
  }
}

.x5-n-notice {
  border-radius: 10px;
  box-shadow: 3px 3px 8px #0008;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  max-height: 100%;
  padding: 15px;
  position: relative;
  text-shadow: 1px 1px 2px #0008;
  width: 260px;
  &.x5-n-default {
    background-color: $colors_default;
  }
  &.x5-n-success {
    background-color: $colors_success;
  }
  &.x5-n-warning {
    background-color: $colors_warning;
  }
  &.x5-n-error {
    background-color: $colors_error;
  }
  &.x5-n-special {
    background-color: $colors_special;
  }
  &.x5-n-info {
    background-color: $colors_info;
  }
  .x5-n-on-click-text {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: #eee8;
  }
}
